.customer-dashboard-menu .ant-menu-item-selected {
  color: #fff !important;
  background-color: #0b2360 !important;
}
.customer-dashboard-menu .ant-menu-item {
  border-radius: 0px !important;
  margin-inline: 0px;
  margin-block: 6px;
  width: 100%;
}
